 <h2>Edit countries</h2>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Country</th>
                          <th>year</th>
                          <th>income million</th>
                          <th>income ratio</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody
                        <tr>
                            <td>{{updateCountry.country}}</td>
                            <td><input class="form-control" ng-model="updateCountry.year"/></td>
                            <td><input class="form-control" ng-model="updateCountry.income_million"/></td>
                            <td><input class="form-control" ng-model="updateCountry.income_ratio"/></td>
                            <th class="text-center"><button class="btn-primary" ng-click="editCountry()">update</button></th>
                          
                      </tr>
                     
                      </tbody>
            </table>