  <h2>Growth videoGames List</h2>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Country</th>
                          <th>year</th>
                          <th>income million</th>
                          <th>income ratio</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                       <tr>
                        <th><input class="form-control" ng-model="apikey"></th>
                        <th class="text-center"><button class="btn-primary" ng-click="load()">Apikey</button></th>
                           <tr>
                        <th><input type=search class="form-control" ng-model="searchCountry.country">country</th>
                        <th class="text-center"><button class="btn-primary" ng-click="busqueda(searchCountry.country)">Busqueda</button></th>
                    </tr>
                       <tr>
                        <td>{{gvg2.country}}</td>
                        <td>{{gvg2.year}}</td>
                        <td>{{gvg2.income_million}}</td>
                        <td>{{gvg2.income_ratio}}</td>
                       
                    </tr>
                    
                    
                     </tr>

                        </tr>
                    
                    </tr>
                   
                    <tr>
                        <th><input class="form-control" ng-model="limit">Limit</th>
                        <th><input class="form-control" ng-model="offset">Offset</th>
                        <th><input class="form-control" ng-model="from">From</th>
                        <th><input class="form-control" ng-model="to">To</th>
                        <th class="text-center"><button class="btn-primary" ng-click="paginacion()">Paginación y busqueda</button></th>
                    </tr>
                    
                      
                      <tr>
                            <td><input class="form-control" ng-model="newCountry.country"/></td>
                            <td><input class="form-control" ng-model="newCountry.year"/></td>
                            <td><input class="form-control" ng-model="newCountry.income_million"/></td>
                            <td><input class="form-control" ng-model="newCountry.income_ratio"/></td>
                            <th><button class="btn-primary" ng-click="addCountry()">Add</button></th>
                          
                      </tr>
                         <tr>
                            <td><h3>Press to Remove all</h3></td>
                            <td><button class="btn-primary" ng-click="removeAll()">Remove All</td>
                          
                      </tr>
                        <tr>
                            <td><input class="form-control" ng-model="gvg.country"/></td>
                          
                            <td><button class="btn-primary" ng-click="removeOne(gvg.country)">Remove One</button></td>
                          
                      </tr>
                      <tr>
                                <td><h3>LoadInitialData</h3></td>
                                <td><button class="btn-primary" ng-click="loadinitial()">LoadInitial</button></td>
                          
                      </tr>
                       <tr>
                                <td><h3>Press to show All</h3></td>
                                <td><button class="btn-primary" ng-click="load()">List</button></td>
                          
                      </tr>
                      
                      
                        <tr>
                          <th>Country</th>
                          <th>year</th>
                          <th>income million</th>
                          <th>income ratio</th>
                        
                      </tr>
                        
                      <tr ng-repeat="country in gvg">
                          <td><a href="#!/gvg/{{country.country}}" >{{country.country}}</a></td>
                          <td>{{country.year}}</td>
                          <td>{{country.income_million}}</td>
                          <td>{{country.income_ratio}}</td>
                          <td>&nbsp;</td>
                      </tr>
                    
                  </tbody>
              </table>
               <ul class = "pagination">
              <li><a><button type="button" ng-disabled = "offset = 0" ng-click = "paginacion()">anterior</button></a></li>
              <li><a><button type="button" ng-disabled = "offset > datas.length" ng-click = "paginacion2()">siguiente</button></a></li>
            </ul>
            <table class="table table-striped">
            <tr>
                        <td>{{load.country}}</td>
                        <td>{{load.year}}</td>
                        <td>{{load.income_million}}</td>
                        <td>{{load.income_ratio}}</td>
                        
                        
                </tr>
            </table>